.know{color:black;text-align:center;text-decoration:underline wavy red 3px;}
#diary a:hover{color:#cc3227;}
#diary a{color:white;}
.place{font-size:56px;font-weight:bold;}
#navi a{color:black; font-size:20px;}
#navi a:hover{color:#cc3227;}
.spn{margin-left:60px;}
#top button:hover{background:#cc3227;}; color:white;}
#air a{color:black}
#mouth{color:#8da877;;text-align:left;border:gray;text-align:center;text-decoration:underline}
#bg{background-image:url('images/1.jpg');height:550px;background-size:cover; background-attachment:fixed;}
.t{margin:100px; p:3; border color:pink; textcolor:black; background-color:yellow;} 
.mission{border:black; text-decoration:underline;color:#b87d11;}
#sion{border:black; text-decoration:underline;color:red;}
#text{color:#cc3227;text-align:left;border:gray}
#you{color:#b87d11;text-align:left;border:#34e8eb;text-decoration:underline}
#me{color:#8da877;text-align:left;border:gray;text-decoration:underline}
.meet{text-decoration:underline}
#pic{background-image:url('images/Chrysanthemum.jpg');height:500px;background-size:cover; background-attachment:fixed;}
#contact{background-image:url('images/Chrysanthemum.jpg');height:140px;background-size:cover; background-attachment:fixed;}
#who{color:red;}
#east{color:#8da877;text-align:left;border:gray;text-align:center;text-decoration:underline}
#west{text-align:left;border:gray;text-decoration:underline}
#north{text-align:left;border:gray;color:brown}
#south{color:#8da877;text-align:left;border:gray;text-align:center;text-decoration:underline}
#camera{text-align:left;border:gray;color:brown;font-family:tahoma}
#c{text-align:left;border:gray;color:brown}
#ca{text-align:left;border:gray;color:brown}
#cam{color:#b87d11;text-align:left}
#ee{margin:5px;padding:3}
#ext{border:2px solid grey;}
#imt{color:brown;border:gray}
.sum a:hover{color:#b87d11}
.sum a{color:white;}
#rub{color:#b87d11;}
.cub {color:red;}
.help{color:black;}
#ast{color:##972b3;text-align:left;border:gray;text-align:center;text-decoration:underline}
#is{color:##972b3;text-align:left;border:gray;text-align:center;text-decoration:underline}
#st{color:##972b3;text-align:left;border:gray;text-align:center;text-decoration:underline}
#ot{color:##972b3;text-align:left;border:gray;text-align:center;text-decoration:underline}

.ring img{border-radius:80px 7px 80px 7px;border:3px soild #3289a8;box-shadow:4px 4px 5px grey;}
#act{background-image:url('images/Chrysanthemum.jpg');height:140px;background-size:cover; background-attachment:fixed;}
#mat{border:gray;TEXT-ALIGN:center;}
.new{color:gray;}
.asmi{color:red;border:gray
#all{background-image:url('images/Chrysanthemum.jpg');height:140px;background-size:cover; background-attachment:fixed;}
.sorry a:hover{color:#b87d11}
#end{background-image:url('images/min.jpg');height:300px;background-size:cover;background-attachment:fixed;}
#poor{background-image:url('kind.jpg');height:300px;width:100%;background-size:cover;background-attachment:fixed;}
#picture{background-image:url('images/same.jpg');height:140px;background-size:cover;background-attachment:fixed;}
#ham{background-image:url('images/min.jpg');height:500px;background-size:cover; background-attachment:fixed;}
margin:100px; p:3; border color:pink; textcolor:black; background-color:yellow;font-family:georgia;}
#social button:hover{background:#cc3227;color:white;} 
.main{color:#b87d11;}
.sing{color:#cc3227; font-weight:bold;}

#Wind{color:#b87d11;}#contact{background-image:url('images/Chrysanthemum.jpg');height:140px;background-size:cover; background-attachment:fixed;}
#camp{color:#8da877}

#mind{color:#b87d11;}
.pizza{color:#972b3;}
#sunidhi{color:#b87d11;}
#end{background-image:url('images/Chrysanthemum.jpg');height:140px;background-size:cover; background-attachment:fixed;}
#hence{color:#b87d11;}
#adminbody{background-image:url('images/1.jpg');background-size:cover;}
#dash a:hover{color:white;background:#cc3227;}
#dash a{color:#cc3227;background:white; border:2px dashed green;}